*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

header{
    background-color: aquamarine;
    /* height: 4em;  */
    display: flex;
    flex-direction: column;
    background-image: url(img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size:cover; 
}

nav{
    display: flex;
    margin: 10px;
    justify-content: space-around;
}

.nav-top{
   flex: 0 0 300px;
   margin-top: 7px;
}

ul{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-top: 6px;
}

a{
    color: white;
    text-decoration: none;
    padding: 30px;
}

.login-nav{
    padding: 10px;
    border-radius: 20px;
    border: none;
    
}

.home{
    height: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.box-home{  
    max-width: 1200px;
}

.p-home{
    margin: 20px;
    max-width: 600px;
}

.download{
    padding: 12px;
    border-radius: 20px;
    border: none;
}

.open{
    padding: 13px;
    border-radius: 20px;
    color: white;
    background-color: black;
}

.box-container{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink{
    max-width: 1200px;
}

.container-text{
    max-width: 400px;
}

.box-container2{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: gray;
}

.box-container2 .blu {
    order: -1;
}

.green-container{
    background-color: #D3D3D3;
    height: 800px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.green{
    height: 90%;
    width: 60%;
    background-color: green;
    max-width: 1200px;
    margin:0 auto;
}

.footer-container{
    background-color: #23272A;
    display: flex;
    justify-content: center;  
}

.footer-info{
    height: 600px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    max-width: 1200px;
}

.salmon{
    background-color: salmon;
    flex: 0 0 40%;
    height: 550px;
    max-width: 1200px;
}

.lightblue{
    background-color: lightblue;
    flex: 0 0 15%;
    height: 550px;
    max-width: 1200px;
}

.container-nav{
    background-color:#23272A ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-top: 2px;
}

.nav-bottom{
    background-color: aqua;
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-bottom{
    background-color: salmon;
    width: 40px;
    height: 20px;
    
}

.button{
    background-color: salmon;
    width: 40px;
    height: 20px;
}