*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html{
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    background-image: url(img/jumbo.png);
    background-repeat: no-repeat;
    background-size:cover; 
}

nav{
    display: flex;
    margin: 10px;
    justify-content: space-around;
}

.nav-top{
   flex: 0 0 300px;
   margin-top: 7px;
}

.link-top{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-top: 6px;
    padding-right: 90px;
    
}

a{
    color: white;
    text-decoration: none;
    padding: 30px;
}

.login-nav{
    padding: 10px;
    border-radius: 30px;
    border: none;
}

h1{
    font-size: 70px;
}

.home{
    height: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.box-home{  
    max-width: 1200px;
}

.p-home{
    margin: 20px;
    max-width: 600px;
}

.download{
    padding: 12px;
    border-radius: 20px;
    border: none;
}

.open{
    padding: 13px;
    border-radius: 20px;
    color: white;
    background-color: black;
    margin-left: 20px;
    vertical-align: middle;
}

.box-container{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink{
    max-width: 1200px;
}

.container-text{
    max-width: 400px;
    font-weight: 800;
}

h2{
    font-size: 50px;
}

p{
    font-size: 20px;
    margin-top: 5px;
}

svg{
    width: 100%;
    color: rgba(211, 211, 211, 0.574);
    display: block;
}

.wave-bottom{
    transform: rotateX(180deg);
    display: block;
    margin-top: 2px;
}

.box-container2{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(211, 211, 211, 0.574);
}

.box-container2 .blu {
    order: -1;
}

.green-container{
    text-align: center;
    background-color:rgba(211, 211, 211, 0.574) ;
}

.star{
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 45px;
    font-size: 25px;
}

.download-bottom{
    padding: 13px;
    border-radius: 20px;
    color: white;
    border: none;
    background-color:#648AE8 ;
    margin: 50px;
}

.footer-container{
    background-color: #23272A;
    display: flex;
    justify-content: center;  
}

.footer-info{
    width: 60%;
    display: flex;
    max-width: 1200px;
    border-bottom:1px solid #648AE8;
}

.salmon{
   
    flex: 0 0 40%;
    height: 500px;
    max-width: 1200px;
}

.lightblue{
    
    flex: 0 0 15%;
    height: 500px;
    max-width: 1200px;
}

.container-nav{
    background-color:#23272A ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.link-bottom{
    color: white;
    list-style-type: none;
    padding: 25px;
}

.link-bottom li{
    margin-top: 15px;
}

.violet-text{
    color:#648AE8 ;
}

#bigger{
    font-size: 35px;
}

.link-bottom img{
    width: 20px;
}

i{
    margin-right: 10px;
}

.nav-bottom{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
}

.login-foot{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color:#648AE8;
    color: white;
}

/* decoration bonus */

.login-nav:hover{
    color: #648AE8;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
}

a:hover{
    text-decoration: underline; 
}

.logo-top:hover{
    cursor: pointer;
}

.download:hover{
    color: #648AE8;
    box-shadow: 0 0 5px 0px rgb(0, 0, 0);
}

.open:hover{
    box-shadow: 0 0 5px 0px rgb(0, 0, 0);
}

.download-bottom:hover{
    background-color: rgb(143, 175, 254);
    box-shadow: 0 0 5px 0px rgb(0, 0, 0);
}

.link-bottom:hover{
    cursor: pointer;
}

.link-bottom li:hover{
    text-decoration: underline;
}

.login-foot:hover{
    background-color: rgb(143, 175, 254);
    box-shadow: 0 0 5px 0px rgb(0, 0, 0);
}

.logo-bottom{
    cursor: pointer;
}
